#pragma code_page(65001)
1 /* CREATEPROCESS_MANIFEST_RESOURCE_ID */ 24 /* RT_MANIFEST */ "C:/Users/mrwge/Documents/anti gravity/claude/osgui/consumer-verify-debug/CMakeFiles/osgui_package_consumer.dir/embed.manifest"